
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>登录 - 顺达出租汽车管理系统</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->
		{% load static %}
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

		<!--[if lte IE 7]>
		  <link rel="stylesheet" href="{% static 'css/font-awesome-ie7.min.css' %}" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--fonts-->

<!-- 		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

		<!--ace styles-->

		<link rel="stylesheet" href="{% static 'css/ace.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/ace-responsive.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" />
		<![endif]-->
		<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	</head>

	<body class="login-layout">
		<div class="container-fluid" id="main-container">
			<div id="main-content">
				<div class="row-fluid">
					<div class="span12">
						<div class="login-container">
							<div class="row-fluid">
								<div class="center">
									<h1>
										<i class="icon-leaf green"></i>
										<span class="white">顺达出租汽车管理系统</span>
									</h1>
									<h4 class="blue">&copy; zhufeng</h4>
								</div>
							</div>

							<div class="space-6"></div>

							<div class="row-fluid">
								<div class="position-relative">
									<div id="login-box" class="visible widget-box no-border">
										<div class="widget-body">
											<div class="widget-main">

												<div class="space-6"></div>

												{% if messages %}
													{% for message in messages %}
														<div class="alert alert-block alert-{{ message.tags }}">

															<button type="button" class="close" data-dismiss="alert"></button>

															<i class="icon-ok green"></i>
															{{ message }}
														</div>
													{% endfor %}
												{% endif %}
												<form method="POST" >
													{% csrf_token %}
													<fieldset>
														<label>
															<span class="block input-icon input-icon-right">
																<input type="text" class="span12" placeholder="用户名" name="username" />
																<i class="icon-user"></i>
															</span>
														</label>

														<label>
															<span class="block input-icon input-icon-right">
																<input type="password" class="span12" placeholder="密码" name="password" />
																<i class="icon-lock"></i>
															</span>
														</label>

														<div class="space"></div>

														<div class="row-fluid">
															<label class="span8">
																<input type="checkbox" />
																<span class="lbl">下次自动登录</span>
															</label>

															<button type="submit" class="span4 btn btn-small btn-primary">
																<i class="icon-key"></i>
																登录
															</button>
														</div>
													</fieldset>
												</form>
											</div><!--/widget-main-->
										</div><!--/widget-body-->
									</div><!--/login-box-->
								</div><!--/position-relative-->
							</div>
						</div>
					</div><!--/span-->
				</div><!--/row-->
			</div>
		</div><!--/.fluid-container-->

		<!--basic scripts-->

		<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{% static 'js/jquery-1.9.1.min.js' %}"+"<"+"/script>");
		</script>

		<!--page specific plugin scripts-->

		<!--inline scripts related to this page-->

		<script type="text/javascript">
			function show_box(id) {
			 $('.widget-box.visible').removeClass('visible');
			 $('#'+id).addClass('visible');
			}
		</script>
	</body>
</html>
