{% extends 'base.html' %}

{% block pageheader %}
<div class="page-header position-relative">
	<h1>
	用户信息
	</h1>
</div>
{% endblock %}

{% block main %}


<div class="row-fluid">
	<form class="form-horizontal" method="post">
		{% csrf_token %}

		<div class="control-group">
			<label class="control-label" for="form-input-readonly">用户名</label>

				<div class="controls">
					<input readonly="" name="username" type="text" id="form-input-readonly" value="{{ request.user.username }}">
				</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="form-field-1">姓名</label>

				<div class="controls">
					<input type="text" name="name" id="form-field-1" value="{{ request.user.get_full_name }}">
				</div>
		</div>

		<hr>

		<div class="control-group">
			<label class="control-label" for="form-field-2">新密码</label>

				<div class="controls">
					<input type="password" name="password" id="form-field-2" placeholder="Password">
					<span class="help-inline">如果不修改密码的话, 则为空</span>
				</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="form-field-3">确认密码</label>

				<div class="controls">
					<input type="password" name="confirm_password" id="form-field-3" placeholder="Password">
				</div>
		</div>

		<div class="form-actions">
			<button class="btn btn-info" type="submit">
				<i class="icon-ok bigger-110"></i>
					提交
			</button>

			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="reset">
				<i class="icon-undo bigger-110"></i>
					重置
			</button>
		</div>

	</form>

</div>
{% endblock %}
